*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: font1;
    src: url(InfraredExtrabold-MWJY.ttf);
}

@font-face {
    font-family: font2;
    src: url(Barlow-Light.ttf);
}

.tab {
    display: inline-block;
    margin-left: 90px;
}

header{
    background-image: url(3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.toprow{
    width: 1200px;
    height: 100px;
    padding-top: 10px;
}

.heading{
    width: 200px;
    float: left;
    height: 70px;
}

.textlogo{
    padding-left: 70px;
    float: left;
    margin-top: 5px;
    padding-top: 15px;
    color: azure;
    font-family: Georgia;
    font-size: large;
}

ul{
    float:left;
    padding-top: 25px;
    padding-left: 260px;
}

ul li{
    display: inline-block;
    align-items: center;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding:10px 30px;
    transition: 0.6s ease;
    font-size: small;
}

ul li a:hover{
    background-color:#4f98b3;
    color: white;
    opacity: 1.0;
}

.proname{
    padding-left: 200px;
    width: 900px;
    height: 250px;
}

.title{
    font-family: font1;
    color: aliceblue;
    letter-spacing: 3px;
    font-size: 70px;
    text-align:center;
}

.subtext{
    font-family: font2;
    font-size: 25px;
    color: aliceblue;
    letter-spacing: 1px;
    padding-top: 15px;
    text-align: center;
}

.teamdetails{
    background-color: rgba(69, 136, 161,0.75);
    color: #fff;
    border-radius: 25px;
    margin-left:320px;
    width: 660px;
    height: 250px;
}

.details{
    color: white;
    opacity: 1.0;
    letter-spacing: 2px;
    justify-content: center;
    line-height: 40px;
    padding-left: 130px;
    font-size: 20px;
}
